    .subscribe-button {
        background-color:rgb(200,0,0);
        color:white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        margin-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        transition: opacity 0.15s;
        vertical-align: top;
    }
    .subscribe-button:hover{
        opacity: 0.7;
    }
    .subscribe-button:active{
        opacity: 0.4;
    }
    .join-button:hover {
        background-color: rgb(41,118,211) ;
        color: white ;
    }
    .join-button:active{
        opacity: 0.7;
    }
    .join-button {
        background-color: white;
        border-color: rgb(6, 95, 212);
        border-style:solid;
        border-width: 1px;
        color: rgb(6, 95, 212);
        border-radius: 2px;
        padding-left: 30px;
        padding-top: 20px;
        cursor: pointer;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 15px;
        padding-right: 15px;
        transition: background-color 0.15s, color 0.15s;
    }
    .tweet-button{
        background-color: rgb(29, 155, 240);
        color: white;
        border: none;
        cursor: pointer;
        border-radius:18px;
        width: 74px;
        height: 36px;
        font-weight: bold;
        font-size: 15px;
        margin-left: 8px;
        vertical-align: top;
    }
.tweet-button:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.15s;
}